extends layout

block content
  h2(class="page_name") About
  div(class="content")
    p The Nu Chapter of Zeta Psi Fraternity was founded here at Case Western Reserve University in 1884 and has remained ever since. Zeta Psi strives to be the premier international mens fraternal organization dedicated to forging academic excellence and life-long bonds of brotherhood. Through active chapter participation and continuing alumni outreach, Zeta Psi members are committed to the development of leadership, character and intellect and to the service of their brothers, their communities and mankind.
