extends layout

block content
  h2(class="page_name") Composites
  div(class="content")
    p(style="font-weight:bold;text-align:center") Class of 1964

    p(style="text-align:center;") Condition: Unframed. Slight damage to board. Top left picture missing. Far right coloum worn.
    div(style="text-align:center;")
      img(style="width:80%" src="/images/composites/1964.jpg")
  h2(class="page_name") Donate
  div(class="content")
    p If you would like to make a donation to your former chapter, you may do so via Paypal
      a(href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=NZF2WLMH9QU72" target="_blank")  here.
