extends layout

block content
  h2(class="page_name") Composites
  div(class="content")
    p(style="font-weight:bold;text-align:center") Class of 1964

    p(style="text-align:center;") Condition: Unframed. Slight damage to board. Top left picture missing. Far right coloum worn.
    div(style="text-align:center;")
      img(style="width:80%" src="/images/composites/1964.jpg")
  h2(class="page_name") Donate
  div(class="content")
    p If you would like to make a donation to your former chapter, you may do so via Paypal
      a(href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=e6IHa5o_vb0PApGX6bVBLXPnxuD1EqATn2Us9tvnfk_jXB_IbT7Yufs0ShK&dispatch=5885d80a13c0db1f8e263663d3faee8defcd6970d4fd9d661117ac2649af92bb" target="_blank")  here.
