extends layout

block content
  h2(class="page_name") Elders
  div(class="content")
    table(width="100%")
      tbody
        tr.brother
          td.brother-pic-container
            img.brother-pic(src=dad.picture)
            div
              p.brother-info #{dad.name}, House Dad

          td.brother-info
            br
            p(style="font-weight:bold") Once a Zete, always a Zete.

            p Here at the Nu chapter we value and recognize the activity of our elders. Many of our brotherhood events encourage the attendance of graduated brothers, and it is not uncommon to see an alumni hanging out at the house on the weekends.

            p As a chapter, we stress brotherhood between any and all Zetes whether they be actives or elders.
  h2(class="page_name") Donate
  div(class="content")
    p If you would like to make a donation to your former chapter, you may do so via Paypal
      a(href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=NZF2WLMH9QU7" target="_blank")  here.
    p These funds are sent directly to the account managed by our Gamma and are used for things such as house improvements, rush, and brotherhood events. If you have any questions about how your money may or will be used, please contact our current Gamma.



