extends layout

block content
  h2(class="page_name") FAQ's
  div(class="content")
    p Frequently asked questions that are specifically tailored to our chapter will be added soon. For now, please consult the grand chapter's Parent's FAQ section
      a(href="http://zetapsi.org/parents/parents-faq/" target="_blank")  here.
