body{
  margin:0;
  padding: 0;
  width: 100%;
  background-image:url('/images/bg.png');
  background-repeat: repeat-x;
  background-color: #f1f1f1;
  min-width: 800px;
  font-size: 16px;
}
#logoarea{
  padding: 22.5px;
  height: 115px;
}
.welcome-header{
  color: white;
  margin: 0;
  text-align: center;
}
.navbar{
  margin-bottom: 0;
}
#navbar{
  padding:10px;
}
#navbar a{
  text-decoration: none;
  height: 34px;
  margin-right: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  font-size: 15px;
  font-family: "PT Sans", sans-serif;
  border: solid 2px rgba(0,0,0, 0);
  border-radius: 8px;
  color: white;
  overflow: hidden;
  float: left;
}
#navbar a:hover{
  text-decoration: none;
  height: 34px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  font-size: 15px;
  font-family: "PT Sans", sans-serif;
  border: solid 2px gold;
  border-radius: 8px;
  color: gold;
  overflow: hidden;
  float: left;
}
#navbar a div{
  margin-bottom: 4px;
}


#bro-navbar{
  padding: 15px;
}
#bro-navbar a{
  text-decoration: none;
  height: 34px;
  margin-right: 2px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  border: solid 2px black;
  border-radius: 8px;
  color: black;
  overflow: hidden;
  float: left;
}
#bro-navbar a:hover{
  text-decoration: none;
  height: 34px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  border: solid 2px gold;
  border-radius: 8px;
  color: gold;
  overflow: hidden;
  float: left;
}

#footer{
  text-align: center;
  vertical-align: center;
  background-color: #141414;
  border-radius: 10px;
  color: white;
  min-height:320px;
  margin-bottom: 50px;
}
#escetch{
  padding:10px;
  padding-top: 40px;
}
#social-container{
  padding: 25px;
  padding-top: 120px;
}
#social-container a{
  padding-left: 8px;
  padding-right: 8px;
}
.fa-flag{
  color: gold;
}
.fa-flag:hover {
  color: white;
}
.fa-map-marker{
  padding-left: 10px;
  color: red;
}
.fa-map-marker:hover{
  padding-left: 10px;
  color:gold;
}
#footer-contact{
  padding:10px;
  padding-top: 40px;
}
#footer-contact h3{

}
#footer-contact p{
  margin:0;
  font-size: 16px;
}
#copyright{
  padding:10px;
}
.auth-form{
  padding: 20px;
  float: left;
}

/*CONTENT CSS*/
.carousel-inner > .item > img {
    margin: 0 auto;
    height: 270px;
}
@media(min-width: 1185px){
  .carousel-inner > .item > img {
    margin: 0 auto;
    height: 400px;
  }
}
#block_content{
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.page_name{
  padding-left: 20px;
  font-weight: bold;
  font-size: 36px;
  color: black;
}
.content{
  padding-top:10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  color: black;
}
.rushcal-outer{
  text-align: center;
}
.rushcal{
  padding: 10px;
  width:100%;
}
#mailing p{
  margin:0;
  font-size: 16px;
}
.brother{
  width: 100%;
  height: 320px;
}
.brother-pic-container{
  width: 200px;
}
.brother-pic{
  width: 200px;
  height: 260px;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:20px;
  margin-right:10px;
}
.brother-info{
  text-align: left;
  vertical-align: top;
  font-weight: normal;
  padding-left: 20px;
}
.brother-delete{
  min-width: 65px;
  text-align: left;
  vertical-align: top;
  font-weight: normal;
  padding-left: 20px;
}
.brother-update-1{
  min-width: 180px;
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
.brother-update{
  min-width: 220px;
  text-align: left;
  vertical-align: top;
  font-weight: normal;
  padding-left: 10px;
}
b{
  font-size: 18px;
  font-weight: bold;
}
c{
  font-size: 18px;
}

.update-brother-container{
  padding: 20px;
  font-size: 16px;
}
.update-brother-container input{
  width: 250px;
}
.update-brother-container input[type="radio"]{
  width: 50px;
  margin: 0;
}
.update-brother-container div{
  width: 250px;
  margin: 0;
}
.rem-button{
  float: right;
  font-size: 16px;
  border-radius: 10px;
  padding: 2px;
  margin-right: 10px;
}
.update-rush-container input{
  width: 250px;
  margin:0;
  font-size: 18px;
}
